# Python byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
__pycache__/

# pip cache
~/.cache/pip/*

# PyCharm project files
*.iml
*.idea/
*.ipynb_checkpoints/

# FastAPI specific
*.coveragerc
.coverage*
